.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c3e50;
  justify-content: space-between;
  font-family: 'Kanit', sans-serif;
}

.header-icon {
  height: 50px; /* ปรับขนาดตามต้องการ */
  margin-right: 20px; /* เพิ่มช่องว่างระหว่างไอคอนกับปุ่มแรก */
}

.button-group {
  display: flex;
  gap: 10px; /* ช่องว่างระหว่างปุ่ม */
}

.right-buttons {
  margin-left: auto; /* ให้ปุ่มทั้งหมดอยู่ทางขวา */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.user-id {
  color: white;
  font-size: 14px;
}
