.custom-button {
  background-color: #00000040;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Kanit', sans-serif;
  min-width: 80px; /* กำหนดความกว้างขั้นต่ำ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover {
  background-color: #1abc9c;
}

.circle-button {
  border-radius: 50%;
  min-width: 50px; /* ขนาดขั้นต่ำ */
  min-height: 50px; /* ขนาดขั้นต่ำ */
  width: 50px;
  height: 50px;
  padding: 0; /* ลบ padding เพื่อให้เป็นวงกลม */
}
